<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incentiva</title>
    <link rel="icon" href="data:,">
    <%- style %>


        <script src="/socket.io/socket.io.js"></script>


        <script>

            var socket = io({ query: { token: localStorage.getItem("token") } });





            function authFetchJson(rota, params) {
                if (typeof params == "string") {
                    const method = params;
                    params = { method, headers: {} };
                } else if (params.headers == null) {
                    params.headers = {};
                }

                params.headers["Authorization"] = "Bearer " + localStorage.getItem("token");
                params.headers["Content-Type"] = "application/json";
                return fetch(rota, params);
            }




        </script>
</head>

<body>

    <%- body %>



        <%- script %>
</body>

</html>