<script>


    authFetchJson("/user/get", "GET").then((response) => {
        console.log(response.status);
        if ((response.status == 401 || response.status == 403)) {
            window.location.replace("/login");
        } else {
            console.log(response);
            response.json().then((data) => {
                if (data.user.verified == true) {
                    if (!data.user.username) {
                        window.location.replace("/etapa-perfil");
                    }
                } else {
                    window.location.replace("/verificacao-email")
                }

            })
        }
    })

    document.addEventListener("DOMContentLoaded", function () {
        // Limitar caracteres para textarea
        const textareas = document.querySelectorAll("textarea");
        textareas.forEach(textarea => {

            textarea.addEventListener("input", () => {
                // Remove caracteres não alfanuméricos e limita o valor a 500 caracteres
                textarea.value = textarea.value.replace(/[^a-zA-ZÀ-ÿ0-9.,;!?()'" \-´`^~]/g, "").slice(0, 500);

            });
        });

        textareas[0].addEventListener("input", () => {
            textarea.value = textarea.value.replace(/[^a-zA-ZÀ-ÿ0-9.,;!?()'" \-´`^~]/g, "").slice(0, 500);

        })



        // Limitar caracteres para input
        const inputNome = document.getElementById("criacao-pj-name");
        inputNome.addEventListener("input", function () {
            inputNome.value = inputNome.value.replace(/[^a-zA-ZÀ-ÿ0-9 ]/g, "").slice(0, 24);
        });
    });
</script>

<link rel="stylesheet" href="/styles/criacao-projeto.css">
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<div id="criacao">
    <div id="criacao-post-home">
        <a href="/home" class="volta-home">Voltar para Home</a>
        <h1>Criação do Projeto - <span style="color: rgb(54, 194, 233);">Post na Home</span>
        </h1>

        <div id="criacao-divisao-telas">
            <div id="criacao-preencher-informacoes">
                <div id="criacao-part-1" class="criacao-parts-style">

                    <div class="criacao-pjbox-home">
                        <label for="criacao-pj-name">Nome:</label>
                        <input type="text" id="criacao-pj-name" autocomplete="off" placeholder="Nome do Projeto">
                    </div>
                    <div class="criacao-pjbox-home">
                        <label for="criacao-pj-quick-des">Descrição rápida</label>
                        <textarea id="criacao-pj-quick-des" maxlength="500" spellcheck="false"
                            placeholder="Escreva uma pequena descrição sobre o seu projeto. Ex: Uma plataforma inovadora que utiliza elementos de jogos para melhorar o engajamento e o aprendizado de estudantes do ensino fundamental e médio."></textarea>
                    </div>
                    <div class="criacao-pjbox-home">
                        <label for="criacao-pj-field">Área:</label>
                        <select type="text" id="criacao-pj-field" class="criacao-pj-selects">
                            <option value="Administração">Administração</option>
                            <option value="Agronegócio">Agronegócio</option>
                            <option value="Arte">Arte</option>
                            <option value="Biotecnologia">Biotecnologia</option>
                            <option value="Ciências Biológicas">Ciências Biológicas</option>
                            <option value="Ciências Contábeis">Ciências Contábeis</option>
                            <option value="Ciências Econômicas">Ciências Econômicas</option>
                            <option value="Ciências Sociais">Ciências Sociais</option>
                            <option value="Comunicação Social">Comunicação Social</option>
                            <option value="Design de Interiores">Design de Interiores</option>
                            <option value="Design de Moda">Design de Moda</option>
                            <option value="Direito">Direito</option>
                            <option value="Educação Física">Educação Física</option>
                            <option value="Enfermagem">Enfermagem</option>
                            <option value="Engenharia Civil">Engenharia Civil</option>
                            <option value="Engenharia de Produção">Engenharia de Produção</option>
                            <option value="Engenharia Elétrica">Engenharia Elétrica</option>
                            <option value="Engenharia Mecânica">Engenharia Mecânica</option>
                            <option value="Engenharia Química">Engenharia Química</option>
                            <option value="Filosofia">Filosofia</option>
                            <option value="Física">Física</option>
                            <option value="Geografia">Geografia</option>
                            <option value="História">História</option>
                            <option value="Informática">Informática</option>
                            <option value="Jornalismo">Jornalismo</option>
                            <option value="Letras">Letras</option>
                            <option value="Marketing">Marketing</option>
                            <option value="Matemática">Matemática</option>
                            <option value="Meio Ambiente">Meio Ambiente</option>
                            <option value="Medicina">Medicina</option>
                            <option value="Multimídia">Multimídia</option>
                            <option value="Pedagogia">Pedagogia</option>
                            <option value="Produção de Áudio e Vídeo">Produção de Áudio e Vídeo</option>
                            <option value="Psicologia">Psicologia</option>
                            <option value="Química">Química</option>
                            <option value="Relações Internacionais">Relações Internacionais</option>
                            <option value="Serviço Social">Serviço Social</option>
                            <option value="Sistemas de Informação">Sistemas de Informação</option>
                            <option value="Tecnologia">Tecnologia</option>
                            <option value="Turismo">Turismo</option>
                        </select>

                    </div>
                    <div class="criacao-pjbox-home">
                        <label for="criacao-pj-localization">Cidade de São Paulo:</label>
                        <select id="criacao-pj-localization" class="criacao-pj-selects">
                            <option value="Adamantina">Adamantina</option>
                            <option value="Adolfo">Adolfo</option>
                            <option value="Aguaí">Aguaí</option>
                            <option value="Águas da Prata">Águas da Prata</option>
                            <option value="Águas de Lindóia">Águas de Lindóia</option>
                            <option value="Águas de Santa Bárbara">Águas de Santa Bárbara</option>
                            <option value="Águas de São Pedro">Águas de São Pedro</option>
                            <option value="Agudos">Agudos</option>
                            <option value="Alambari">Alambari</option>
                            <option value="Alfredo Marcondes">Alfredo Marcondes</option>
                            <option value="Altair">Altair</option>
                            <option value="Altinópolis">Altinópolis</option>
                            <option value="Alto Alegre">Alto Alegre</option>
                            <option value="Alumínio">Alumínio</option>
                            <option value="Álvares Florence">Álvares Florence</option>
                            <option value="Álvares Machado">Álvares Machado</option>
                            <option value="Álvaro de Carvalho">Álvaro de Carvalho</option>
                            <option value="Alvinlândia">Alvinlândia</option>
                            <option value="Americana">Americana</option>
                            <option value="Américo Brasiliense">Américo Brasiliense</option>
                            <option value="Américo de Campos">Américo de Campos</option>
                            <option value="Amparo">Amparo</option>
                            <option value="Analândia">Analândia</option>
                            <option value="Andradina">Andradina</option>
                            <option value="Angatuba">Angatuba</option>
                            <option value="Anhembi">Anhembi</option>
                            <option value="Anhumas">Anhumas</option>
                            <option value="Aparecida">Aparecida</option>
                            <option value="Aparecida d'Oeste">Aparecida d'Oeste</option>
                            <option value="Apiaí">Apiaí</option>
                            <option value="Araçariguama">Araçariguama</option>
                            <option value="Araçatuba">Araçatuba</option>
                            <option value="Araçoiaba da Serra">Araçoiaba da Serra</option>
                            <option value="Aramina">Aramina</option>
                            <option value="Arandu">Arandu</option>
                            <option value="Arapeí">Arapeí</option>
                            <option value="Araraquara">Araraquara</option>
                            <option value="Araras">Araras</option>
                            <option value="Arco-Íris">Arco-Íris</option>
                            <option value="Arealva">Arealva</option>
                            <option value="Areias">Areias</option>
                            <option value="Areiópolis">Areiópolis</option>
                            <option value="Ariranha">Ariranha</option>
                            <option value="Artur Nogueira">Artur Nogueira</option>
                            <option value="Arujá">Arujá</option>
                            <option value="Aspásia">Aspásia</option>
                            <option value="Assis">Assis</option>
                            <option value="Atibaia">Atibaia</option>
                            <option value="Auriflama">Auriflama</option>
                            <option value="Avaí">Avaí</option>
                            <option value="Avanhandava">Avanhandava</option>
                            <option value="Avaré">Avaré</option>
                            <option value="Bady Bassitt">Bady Bassitt</option>
                            <option value="Balbinos">Balbinos</option>
                            <option value="Bálsamo">Bálsamo</option>
                            <option value="Bananal">Bananal</option>
                            <option value="Barão de Antonina">Barão de Antonina</option>
                            <option value="Barbosa">Barbosa</option>
                            <option value="Bariri">Bariri</option>
                            <option value="Barra Bonita">Barra Bonita</option>
                            <option value="Barra do Chapéu">Barra do Chapéu</option>
                            <option value="Barra do Turvo">Barra do Turvo</option>
                            <option value="Barretos">Barretos</option>
                            <option value="Barrinha">Barrinha</option>
                            <option value="Barueri">Barueri</option>
                            <option value="Bastos">Bastos</option>
                            <option value="Batatais">Batatais</option>
                            <option value="Bauru">Bauru</option>
                            <option value="Bebedouro">Bebedouro</option>
                            <option value="Bento de Abreu">Bento de Abreu</option>
                            <option value="Bernardino de Campos">Bernardino de Campos</option>
                            <option value="Bertioga">Bertioga</option>
                            <option value="Bilac">Bilac</option>
                            <option value="Birigui">Birigui</option>
                            <option value="Biritiba-Mirim">Biritiba-Mirim</option>
                            <option value="Boa Esperança do Sul">Boa Esperança do Sul</option>
                            <option value="Bocaina">Bocaina</option>
                            <option value="Bofete">Bofete</option>
                            <option value="Boituva">Boituva</option>
                            <option value="Bom Jesus dos Perdões">Bom Jesus dos Perdões</option>
                            <option value="Bom Sucesso de Itararé">Bom Sucesso de Itararé</option>
                            <option value="Borá">Borá</option>
                            <option value="Boracéia">Boracéia</option>
                            <option value="Borborema">Borborema</option>
                            <option value="Borebi">Borebi</option>
                            <option value="Botucatu">Botucatu</option>
                            <option value="Bragança Paulista">Bragança Paulista</option>
                            <option value="Braúna">Braúna</option>
                            <option value="Brejo Alegre">Brejo Alegre</option>
                            <option value="Brodowski">Brodowski</option>
                            <option value="Brotas">Brotas</option>
                            <option value="Buri">Buri</option>
                            <option value="Buritama">Buritama</option>
                            <option value="Buritizal">Buritizal</option>
                            <option value="Cabrália Paulista">Cabrália Paulista</option>
                            <option value="Cabreúva">Cabreúva</option>
                            <option value="Caçapava">Caçapava</option>
                            <option value="Cachoeira Paulista">Cachoeira Paulista</option>
                            <option value="Caconde">Caconde</option>
                            <option value="Cafelândia">Cafelândia</option>
                            <option value="Caiabu">Caiabu</option>
                            <option value="Caieiras">Caieiras</option>
                            <option value="Caiuá">Caiuá</option>
                            <option value="Cajamar">Cajamar</option>
                            <option value="Cajati">Cajati</option>
                            <option value="Cajobi">Cajobi</option>
                            <option value="Cajuru">Cajuru</option>
                            <option value="Campina do Monte Alegre">Campina do Monte Alegre</option>
                            <option value="Campinas">Campinas</option>
                            <option value="Campo Limpo Paulista">Campo Limpo Paulista</option>
                            <option value="Campos do Jordão">Campos do Jordão</option>
                            <option value="Campos Novos Paulista">Campos Novos Paulista</option>
                            <option value="Cananéia">Cananéia</option>
                            <option value="Canas">Canas</option>
                            <option value="Cândido Mota">Cândido Mota</option>
                            <option value="Cândido Rodrigues">Cândido Rodrigues</option>
                            <option value="Canitar">Canitar</option>
                            <option value="Capão Bonito">Capão Bonito</option>
                            <option value="Capela do Alto">Capela do Alto</option>
                            <option value="Capivari">Capivari</option>
                            <option value="Caraguatatuba">Caraguatatuba</option>
                            <option value="Carapicuíba">Carapicuíba</option>
                            <option value="Cardoso">Cardoso</option>
                            <option value="Casa Branca">Casa Branca</option>
                            <option value="Cássia dos Coqueiros">Cássia dos Coqueiros</option>
                            <option value="Castilho">Castilho</option>
                            <option value="Catanduva">Catanduva</option>
                            <option value="Catiguá">Catiguá</option>
                            <option value="Cedral">Cedral</option>
                            <option value="Cerqueira César">Cerqueira César</option>
                            <option value="Cerquilho">Cerquilho</option>
                            <option value="Cesário Lange">Cesário Lange</option>
                            <option value="Charqueada">Charqueada</option>
                            <option value="Chavantes">Chavantes</option>
                            <option value="Clementina">Clementina</option>
                            <option value="Colina">Colina</option>
                            <option value="Colômbia">Colômbia</option>
                            <option value="Conchal">Conchal</option>
                            <option value="Conchas">Conchas</option>
                            <option value="Cordeirópolis">Cordeirópolis</option>
                            <option value="Coroados">Coroados</option>
                            <option value="Coronel Macedo">Coronel Macedo</option>
                            <option value="Corumbataí">Corumbataí</option>
                            <option value="Cosmópolis">Cosmópolis</option>
                            <option value="Cosmorama">Cosmorama</option>
                            <option value="Cotia">Cotia</option>
                            <option value="Cravinhos">Cravinhos</option>
                            <option value="Cristais Paulista">Cristais Paulista</option>
                            <option value="Cruzália">Cruzália</option>
                            <option value="Cruzeiro">Cruzeiro</option>
                            <option value="Cubatão">Cubatão</option>
                            <option value="Cunha">Cunha</option>
                            <option value="Descalvado">Descalvado</option>
                            <option value="Diadema">Diadema</option>
                            <option value="Dirce Reis">Dirce Reis</option>
                            <option value="Divinolândia">Divinolândia</option>
                            <option value="Dobrada">Dobrada</option>
                            <option value="Dois Córregos">Dois Córregos</option>
                            <option value="Dolcinópolis">Dolcinópolis</option>
                            <option value="Dourado">Dourado</option>
                            <option value="Dracena">Dracena</option>
                            <option value="Duartina">Duartina</option>
                            <option value="Dumont">Dumont</option>
                            <option value="Echaporã">Echaporã</option>
                            <option value="Eldorado">Eldorado</option>
                            <option value="Elias Fausto">Elias Fausto</option>
                            <option value="Elisiário">Elisiário</option>
                            <option value="Embaúba">Embaúba</option>
                            <option value="Embu das Artes">Embu das Artes</option>
                            <option value="Embu-Guaçu">Embu-Guaçu</option>
                            <option value="Emilianópolis">Emilianópolis</option>
                            <option value="Engenheiro Coelho">Engenheiro Coelho</option>
                            <option value="Espírito Santo do Pinhal">Espírito Santo do Pinhal</option>
                            <option value="Espírito Santo do Turvo">Espírito Santo do Turvo</option>
                            <option value="Estiva Gerbi">Estiva Gerbi</option>
                            <option value="Estrela d'Oeste">Estrela d'Oeste</option>
                            <option value="Estrela do Norte">Estrela do Norte</option>
                            <option value="Euclides da Cunha Paulista">Euclides da Cunha Paulista</option>
                            <option value="Fartura">Fartura</option>
                            <option value="Fernando Prestes">Fernando Prestes</option>
                            <option value="Fernandópolis">Fernandópolis</option>
                            <option value="Fernão">Fernão</option>
                            <option value="Ferraz de Vasconcelos">Ferraz de Vasconcelos</option>
                            <option value="Flora Rica">Flora Rica</option>
                            <option value="Floreal">Floreal</option>
                            <option value="Flórida Paulista">Flórida Paulista</option>
                            <option value="Florínia">Florínia</option>
                            <option value="Franca">Franca</option>
                            <option value="Francisco Morato">Francisco Morato</option>
                            <option value="Franco da Rocha">Franco da Rocha</option>
                            <option value="Gabriel Monteiro">Gabriel Monteiro</option>
                            <option value="Gália">Gália</option>
                            <option value="Garça">Garça</option>
                            <option value="Gastão Vidigal">Gastão Vidigal</option>
                            <option value="Gavião Peixoto">Gavião Peixoto</option>
                            <option value="General Salgado">General Salgado</option>
                            <option value="Getulina">Getulina</option>
                            <option value="Glicério">Glicério</option>
                            <option value="Guaiçara">Guaiçara</option>
                            <option value="Guaimbê">Guaimbê</option>
                            <option value="Guaíra">Guaíra</option>
                            <option value="Guapiaçu">Guapiaçu</option>
                            <option value="Guapiara">Guapiara</option>
                            <option value="Guará">Guará</option>
                            <option value="Guaraçaí">Guaraçaí</option>
                            <option value="Guaraci">Guaraci</option>
                            <option value="Guarani d'Oeste">Guarani d'Oeste</option>
                            <option value="Guarantã">Guarantã</option>
                            <option value="Guararapes">Guararapes</option>
                            <option value="Guararema">Guararema</option>
                            <option value="Guaratinguetá">Guaratinguetá</option>
                            <option value="Guareí">Guareí</option>
                            <option value="Guariba">Guariba</option>
                            <option value="Guarujá">Guarujá</option>
                            <option value="Guarulhos">Guarulhos</option>
                            <option value="Guatapará">Guatapará</option>
                            <option value="Guzolândia">Guzolândia</option>
                            <option value="Herculândia">Herculândia</option>
                            <option value="Holambra">Holambra</option>
                            <option value="Hortolândia">Hortolândia</option>
                            <option value="Iacanga">Iacanga</option>
                            <option value="Iacri">Iacri</option>
                            <option value="Iaras">Iaras</option>
                            <option value="Ibaté">Ibaté</option>
                            <option value="Ibirá">Ibirá</option>
                            <option value="Ibirarema">Ibirarema</option>
                            <option value="Ibitinga">Ibitinga</option>
                            <option value="Ibiúna">Ibiúna</option>
                            <option value="Icém">Icém</option>
                            <option value="Iepê">Iepê</option>
                            <option value="Igaraçu do Tietê">Igaraçu do Tietê</option>
                            <option value="Igarapava">Igarapava</option>
                            <option value="Igaratá">Igaratá</option>
                            <option value="Iguape">Iguape</option>
                            <option value="Ilha Comprida">Ilha Comprida</option>
                            <option value="Ilha Solteira">Ilha Solteira</option>
                            <option value="Ilhabela">Ilhabela</option>
                            <option value="Indaiatuba">Indaiatuba</option>
                            <option value="Indiana">Indiana</option>
                            <option value="Indiaporã">Indiaporã</option>
                            <option value="Inúbia Paulista">Inúbia Paulista</option>
                            <option value="Ipaussu">Ipaussu</option>
                            <option value="Iperó">Iperó</option>
                            <option value="Ipeúna">Ipeúna</option>
                            <option value="Ipiguá">Ipiguá</option>
                            <option value="Iporanga">Iporanga</option>
                            <option value="Ipuã">Ipuã</option>
                            <option value="Iracemápolis">Iracemápolis</option>
                            <option value="Irapuã">Irapuã</option>
                            <option value="Irapuru">Irapuru</option>
                            <option value="Itaberá">Itaberá</option>
                            <option value="Itaí">Itaí</option>
                            <option value="Itajobi">Itajobi</option>
                            <option value="Itaju">Itaju</option>
                            <option value="Itanhaém">Itanhaém</option>
                            <option value="Itaóca">Itaóca</option>
                            <option value="Itapecerica da Serra">Itapecerica da Serra</option>
                            <option value="Itapetininga">Itapetininga</option>
                            <option value="Itapeva">Itapeva</option>
                            <option value="Itapevi">Itapevi</option>
                            <option value="Itapira">Itapira</option>
                            <option value="Itapirapuã Paulista">Itapirapuã Paulista</option>
                            <option value="Itápolis">Itápolis</option>
                            <option value="Itaporanga">Itaporanga</option>
                            <option value="Itapuí">Itapuí</option>
                            <option value="Itapura">Itapura</option>
                            <option value="Itaquaquecetuba">Itaquaquecetuba</option>
                            <option value="Itararé">Itararé</option>
                            <option value="Itariri">Itariri</option>
                            <option value="Itatiba">Itatiba</option>
                            <option value="Itatinga">Itatinga</option>
                            <option value="Itirapina">Itirapina</option>
                            <option value="Itirapuã">Itirapuã</option>
                            <option value="Itobi">Itobi</option>
                            <option value="Itu">Itu</option>
                            <option value="Itupeva">Itupeva</option>
                            <option value="Ituverava">Ituverava</option>
                            <option value="Jaborandi">Jaborandi</option>
                            <option value="Jaboticabal">Jaboticabal</option>
                            <option value="Jacareí">Jacareí</option>
                            <option value="Jaci">Jaci</option>
                            <option value="Jacupiranga">Jacupiranga</option>
                            <option value="Jaguariúna">Jaguariúna</option>
                            <option value="Jales">Jales</option>
                            <option value="Jambeiro">Jambeiro</option>
                            <option value="Jandira">Jandira</option>
                            <option value="Jardinópolis">Jardinópolis</option>
                            <option value="Jarinu">Jarinu</option>
                            <option value="Jaú">Jaú</option>
                            <option value="Jeriquara">Jeriquara</option>
                            <option value="Joanópolis">Joanópolis</option>
                            <option value="João Ramalho">João Ramalho</option>
                            <option value="José Bonifácio">José Bonifácio</option>
                            <option value="Júlio Mesquita">Júlio Mesquita</option>
                            <option value="Jumirim">Jumirim</option>
                            <option value="Jundiaí">Jundiaí</option>
                            <option value="Junqueirópolis">Junqueirópolis</option>
                            <option value="Juquiá">Juquiá</option>
                            <option value="Juquitiba">Juquitiba</option>
                            <option value="Lagoinha">Lagoinha</option>
                            <option value="Laranjal Paulista">Laranjal Paulista</option>
                            <option value="Lavínia">Lavínia</option>
                            <option value="Lavrinhas">Lavrinhas</option>
                            <option value="Leme">Leme</option>
                            <option value="Lençóis Paulista">Lençóis Paulista</option>
                            <option value="Limeira">Limeira</option>
                            <option value="Lindóia">Lindóia</option>
                            <option value="Lins">Lins</option>
                            <option value="Lorena">Lorena</option>
                            <option value="Lourdes">Lourdes</option>
                            <option value="Louveira">Louveira</option>
                            <option value="Lucélia">Lucélia</option>
                            <option value="Lucianópolis">Lucianópolis</option>
                            <option value="Luís Antônio">Luís Antônio</option>
                            <option value="Luiziânia">Luiziânia</option>
                            <option value="Lupércio">Lupércio</option>
                            <option value="Lutécia">Lutécia</option>
                            <option value="Macatuba">Macatuba</option>
                            <option value="Macaubal">Macaubal</option>
                            <option value="Macedônia">Macedônia</option>
                            <option value="Magda">Magda</option>
                            <option value="Mairinque">Mairinque</option>
                            <option value="Mairiporã">Mairiporã</option>
                            <option value="Manduri">Manduri</option>
                            <option value="Marabá Paulista">Marabá Paulista</option>
                            <option value="Maracaí">Maracaí</option>
                            <option value="Marapoama">Marapoama</option>
                            <option value="Mariápolis">Mariápolis</option>
                            <option value="Marília">Marília</option>
                            <option value="Marinópolis">Marinópolis</option>
                            <option value="Martinópolis">Martinópolis</option>
                            <option value="Matão">Matão</option>
                            <option value="Mauá">Mauá</option>
                            <option value="Mendonça">Mendonça</option>
                            <option value="Meridiano">Meridiano</option>
                            <option value="Mesópolis">Mesópolis</option>
                            <option value="Miguelópolis">Miguelópolis</option>
                            <option value="Mineiros do Tietê">Mineiros do Tietê</option>
                            <option value="Mira Estrela">Mira Estrela</option>
                            <option value="Miracatu">Miracatu</option>
                            <option value="Mirandópolis">Mirandópolis</option>
                            <option value="Mirante do Paranapanema">Mirante do Paranapanema</option>
                            <option value="Mirassol">Mirassol</option>
                            <option value="Mirassolândia">Mirassolândia</option>
                            <option value="Mococa">Mococa</option>
                            <option value="Mogi das Cruzes">Mogi das Cruzes</option>
                            <option value="Mogi Guaçu">Mogi Guaçu</option>
                            <option value="Mogi Mirim">Mogi Mirim</option>
                            <option value="Mombuca">Mombuca</option>
                            <option value="Monções">Monções</option>
                            <option value="Mongaguá">Mongaguá</option>
                            <option value="Monte Alegre do Sul">Monte Alegre do Sul</option>
                            <option value="Monte Alto">Monte Alto</option>
                            <option value="Monte Aprazível">Monte Aprazível</option>
                            <option value="Monte Azul Paulista">Monte Azul Paulista</option>
                            <option value="Monte Castelo">Monte Castelo</option>
                            <option value="Monte Mor">Monte Mor</option>
                            <option value="Monteiro Lobato">Monteiro Lobato</option>
                            <option value="Morro Agudo">Morro Agudo</option>
                            <option value="Morungaba">Morungaba</option>
                            <option value="Motuca">Motuca</option>
                            <option value="Murutinga do Sul">Murutinga do Sul</option>
                            <option value="Nantes">Nantes</option>
                            <option value="Narandiba">Narandiba</option>
                            <option value="Natividade da Serra">Natividade da Serra</option>
                            <option value="Nazaré Paulista">Nazaré Paulista</option>
                            <option value="Neves Paulista">Neves Paulista</option>
                            <option value="Nhandeara">Nhandeara</option>
                            <option value="Nipoã">Nipoã</option>
                            <option value="Nova Aliança">Nova Aliança</option>
                            <option value="Nova Campina">Nova Campina</option>
                            <option value="Nova Canaã Paulista">Nova Canaã Paulista</option>
                            <option value="Nova Castilho">Nova Castilho</option>
                            <option value="Nova Europa">Nova Europa</option>
                            <option value="Nova Granada">Nova Granada</option>
                            <option value="Nova Guataporanga">Nova Guataporanga</option>
                            <option value="Nova Independência">Nova Independência</option>
                            <option value="Nova Luzitânia">Nova Luzitânia</option>
                            <option value="Nova Odessa">Nova Odessa</option>
                            <option value="Novais">Novais</option>
                            <option value="Novo Horizonte">Novo Horizonte</option>
                            <option value="Nuporanga">Nuporanga</option>
                            <option value="Ocauçu">Ocauçu</option>
                            <option value="Óleo">Óleo</option>
                            <option value="Olímpia">Olímpia</option>
                            <option value="Onda Verde">Onda Verde</option>
                            <option value="Oriente">Oriente</option>
                            <option value="Orindiúva">Orindiúva</option>
                            <option value="Orlândia">Orlândia</option>
                            <option value="Osasco">Osasco</option>
                            <option value="Oscar Bressane">Oscar Bressane</option>
                            <option value="Osvaldo Cruz">Osvaldo Cruz</option>
                            <option value="Ourinhos">Ourinhos</option>
                            <option value="Ouro Verde">Ouro Verde</option>
                            <option value="Ouroeste">Ouroeste</option>
                            <option value="Pacaembu">Pacaembu</option>
                            <option value="Palestina">Palestina</option>
                            <option value="Palmares Paulista">Palmares Paulista</option>
                            <option value="Palmeira d'Oeste">Palmeira d'Oeste</option>
                            <option value="Palmital">Palmital</option>
                            <option value="Panorama">Panorama</option>
                            <option value="Paraguaçu Paulista">Paraguaçu Paulista</option>
                            <option value="Paraibuna">Paraibuna</option>
                            <option value="Paraíso">Paraíso</option>
                            <option value="Paranapanema">Paranapanema</option>
                            <option value="Paranapuã">Paranapuã</option>
                            <option value="Parapuã">Parapuã</option>
                            <option value="Pardinho">Pardinho</option>
                            <option value="Pariquera-Açu">Pariquera-Açu</option>
                            <option value="Parisi">Parisi</option>
                            <option value="Patrocínio Paulista">Patrocínio Paulista</option>
                            <option value="Paulicéia">Paulicéia</option>
                            <option value="Paulínia">Paulínia</option>
                            <option value="Paulistânia">Paulistânia</option>
                            <option value="Paulo de Faria">Paulo de Faria</option>
                            <option value="Pederneiras">Pederneiras</option>
                            <option value="Pedra Bela">Pedra Bela</option>
                            <option value="Pedranópolis">Pedranópolis</option>
                            <option value="Pedregulho">Pedregulho</option>
                            <option value="Pedreira">Pedreira</option>
                            <option value="Pedrinhas Paulista">Pedrinhas Paulista</option>
                            <option value="Pedro de Toledo">Pedro de Toledo</option>
                            <option value="Penápolis">Penápolis</option>
                            <option value="Pereira Barreto">Pereira Barreto</option>
                            <option value="Pereiras">Pereiras</option>
                            <option value="Peruíbe">Peruíbe</option>
                            <option value="Piacatu">Piacatu</option>
                            <option value="Piedade">Piedade</option>
                            <option value="Pilar do Sul">Pilar do Sul</option>
                            <option value="Pindamonhangaba">Pindamonhangaba</option>
                            <option value="Pindorama">Pindorama</option>
                            <option value="Pinhalzinho">Pinhalzinho</option>
                            <option value="Piquerobi">Piquerobi</option>
                            <option value="Piquete">Piquete</option>
                            <option value="Piracaia">Piracaia</option>
                            <option value="Piracicaba">Piracicaba</option>
                            <option value="Piraju">Piraju</option>
                            <option value="Pirajuí">Pirajuí</option>
                            <option value="Pirangi">Pirangi</option>
                            <option value="Pirapora do Bom Jesus">Pirapora do Bom Jesus</option>
                            <option value="Pirapozinho">Pirapozinho</option>
                            <option value="Pirassununga">Pirassununga</option>
                            <option value="Piratininga">Piratininga</option>
                            <option value="Pitangueiras">Pitangueiras</option>
                            <option value="Planalto">Planalto</option>
                            <option value="Platina">Platina</option>
                            <option value="Poá">Poá</option>
                            <option value="Poloni">Poloni</option>
                            <option value="Pompéia">Pompéia</option>
                            <option value="Pongaí">Pongaí</option>
                            <option value="Pontal">Pontal</option>
                            <option value="Pontalinda">Pontalinda</option>
                            <option value="Pontes Gestal">Pontes Gestal</option>
                            <option value="Populina">Populina</option>
                            <option value="Porangaba">Porangaba</option>
                            <option value="Porto Feliz">Porto Feliz</option>
                            <option value="Porto Ferreira">Porto Ferreira</option>
                            <option value="Potim">Potim</option>
                            <option value="Potirendaba">Potirendaba</option>
                            <option value="Pracinha">Pracinha</option>
                            <option value="Pradópolis">Pradópolis</option>
                            <option value="Praia Grande">Praia Grande</option>
                            <option value="Pratânia">Pratânia</option>
                            <option value="Presidente Alves">Presidente Alves</option>
                            <option value="Presidente Bernardes">Presidente Bernardes</option>
                            <option value="Presidente Epitácio">Presidente Epitácio</option>
                            <option value="Presidente Prudente">Presidente Prudente</option>
                            <option value="Presidente Venceslau">Presidente Venceslau</option>
                            <option value="Promissão">Promissão</option>
                            <option value="Quadra">Quadra</option>
                            <option value="Quatá">Quatá</option>
                            <option value="Queiroz">Queiroz</option>
                            <option value="Queluz">Queluz</option>
                            <option value="Quintana">Quintana</option>
                            <option value="Rafard">Rafard</option>
                            <option value="Rancharia">Rancharia</option>
                            <option value="Redenção da Serra">Redenção da Serra</option>
                            <option value="Regente Feijó">Regente Feijó</option>
                            <option value="Reginópolis">Reginópolis</option>
                            <option value="Registro">Registro</option>
                            <option value="Restinga">Restinga</option>
                            <option value="Ribeira">Ribeira</option>
                            <option value="Ribeirão Bonito">Ribeirão Bonito</option>
                            <option value="Ribeirão Branco">Ribeirão Branco</option>
                            <option value="Ribeirão Corrente">Ribeirão Corrente</option>
                            <option value="Ribeirão do Sul">Ribeirão do Sul</option>
                            <option value="Ribeirão dos Índios">Ribeirão dos Índios</option>
                            <option value="Ribeirão Grande">Ribeirão Grande</option>
                            <option value="Ribeirão Pires">Ribeirão Pires</option>
                            <option value="Ribeirão Preto">Ribeirão Preto</option>
                            <option value="Rifaina">Rifaina</option>
                            <option value="Rincão">Rincão</option>
                            <option value="Rinópolis">Rinópolis</option>
                            <option value="Rio Claro">Rio Claro</option>
                            <option value="Rio das Pedras">Rio das Pedras</option>
                            <option value="Rio Grande da Serra">Rio Grande da Serra</option>
                            <option value="Riolândia">Riolândia</option>
                            <option value="Riversul">Riversul</option>
                            <option value="Rosana">Rosana</option>
                            <option value="Roseira">Roseira</option>
                            <option value="Rubiácea">Rubiácea</option>
                            <option value="Rubinéia">Rubinéia</option>
                            <option value="Sabino">Sabino</option>
                            <option value="Sagres">Sagres</option>
                            <option value="Sales">Sales</option>
                            <option value="Sales Oliveira">Sales Oliveira</option>
                            <option value="Salesópolis">Salesópolis</option>
                            <option value="Salmourão">Salmourão</option>
                            <option value="Saltinho">Saltinho</option>
                            <option value="Salto">Salto</option>
                            <option value="Salto de Pirapora">Salto de Pirapora</option>
                            <option value="Salto Grande">Salto Grande</option>
                            <option value="Sandovalina">Sandovalina</option>
                            <option value="Santa Adélia">Santa Adélia</option>
                            <option value="Santa Albertina">Santa Albertina</option>
                            <option value="Santa Bárbara d'Oeste">Santa Bárbara d'Oeste</option>
                            <option value="Santa Branca">Santa Branca</option>
                            <option value="Santa Clara d'Oeste">Santa Clara d'Oeste</option>
                            <option value="Santa Cruz da Conceição">Santa Cruz da Conceição</option>
                            <option value="Santa Cruz da Esperança">Santa Cruz da Esperança</option>
                            <option value="Santa Cruz das Palmeiras">Santa Cruz das Palmeiras</option>
                            <option value="Santa Cruz do Rio Pardo">Santa Cruz do Rio Pardo</option>
                            <option value="Santa Ernestina">Santa Ernestina</option>
                            <option value="Santa Fé do Sul">Santa Fé do Sul</option>
                            <option value="Santa Gertrudes">Santa Gertrudes</option>
                            <option value="Santa Isabel">Santa Isabel</option>
                            <option value="Santa Lúcia">Santa Lúcia</option>
                            <option value="Santa Maria da Serra">Santa Maria da Serra</option>
                            <option value="Santa Mercedes">Santa Mercedes</option>
                            <option value="Santa Rita d'Oeste">Santa Rita d'Oeste</option>
                            <option value="Santa Rita do Passa Quatro">Santa Rita do Passa Quatro</option>
                            <option value="Santa Rosa de Viterbo">Santa Rosa de Viterbo</option>
                            <option value="Santa Salete">Santa Salete</option>
                            <option value="Santana da Ponte Pensa">Santana da Ponte Pensa</option>
                            <option value="Santana de Parnaíba">Santana de Parnaíba</option>
                            <option value="Santo Anastácio">Santo Anastácio</option>
                            <option value="Santo André">Santo André</option>
                            <option value="Santo Antônio da Alegria">Santo Antônio da Alegria</option>
                            <option value="Santo Antônio de Posse">Santo Antônio de Posse</option>
                            <option value="Santo Antônio do Aracanguá">Santo Antônio do Aracanguá</option>
                            <option value="Santo Antônio do Jardim">Santo Antônio do Jardim</option>
                            <option value="Santo Antônio do Pinhal">Santo Antônio do Pinhal</option>
                            <option value="Santo Expedito">Santo Expedito</option>
                            <option value="Santópolis do Aguapeí">Santópolis do Aguapeí</option>
                            <option value="Santos">Santos</option>
                            <option value="São Bento do Sapucaí">São Bento do Sapucaí</option>
                            <option value="São Bernardo do Campo">São Bernardo do Campo</option>
                            <option value="São Caetano do Sul">São Caetano do Sul</option>
                            <option value="São Carlos">São Carlos</option>
                            <option value="São Francisco">São Francisco</option>
                            <option value="São João da Boa Vista">São João da Boa Vista</option>
                            <option value="São João das Duas Pontes">São João das Duas Pontes</option>
                            <option value="São João de Iracema">São João de Iracema</option>
                            <option value="São João do Pau d'Alho">São João do Pau d'Alho</option>
                            <option value="São Joaquim da Barra">São Joaquim da Barra</option>
                            <option value="São José da Bela Vista">São José da Bela Vista</option>
                            <option value="São José do Barreiro">São José do Barreiro</option>
                            <option value="São José do Rio Pardo">São José do Rio Pardo</option>
                            <option value="São José do Rio Preto">São José do Rio Preto</option>
                            <option value="São José dos Campos">São José dos Campos</option>
                            <option value="São Lourenço da Serra">São Lourenço da Serra</option>
                            <option value="São Luís do Paraitinga">São Luís do Paraitinga</option>
                            <option value="São Manuel">São Manuel</option>
                            <option value="São Miguel Arcanjo">São Miguel Arcanjo</option>
                            <option value="São Paulo">São Paulo</option>
                            <option value="São Pedro">São Pedro</option>
                            <option value="São Pedro do Turvo">São Pedro do Turvo</option>
                            <option value="São Roque">São Roque</option>
                            <option value="São Sebastião">São Sebastião</option>
                            <option value="São Sebastião da Grama">São Sebastião da Grama</option>
                            <option value="São Simão">São Simão</option>
                            <option value="São Vicente">São Vicente</option>
                            <option value="Sarapuí">Sarapuí</option>
                            <option value="Sarutaiá">Sarutaiá</option>
                            <option value="Sebastianópolis do Sul">Sebastianópolis do Sul</option>
                            <option value="Serra Azul">Serra Azul</option>
                            <option value="Serra Negra">Serra Negra</option>
                            <option value="Serrana">Serrana</option>
                            <option value="Sertãozinho">Sertãozinho</option>
                            <option value="Sete Barras">Sete Barras</option>
                            <option value="Severínia">Severínia</option>
                            <option value="Silveiras">Silveiras</option>
                            <option value="Socorro">Socorro</option>
                            <option value="Sorocaba">Sorocaba</option>
                            <option value="Sud Mennucci">Sud Mennucci</option>
                            <option value="Sumaré">Sumaré</option>
                            <option value="Suzanápolis">Suzanápolis</option>
                            <option value="Suzano">Suzano</option>
                            <option value="Tabapuã">Tabapuã</option>
                            <option value="Tabatinga">Tabatinga</option>
                            <option value="Taboão da Serra">Taboão da Serra</option>
                            <option value="Taciba">Taciba</option>
                            <option value="Taguaí">Taguaí</option>
                            <option value="Taiaçu">Taiaçu</option>
                            <option value="Taiúva">Taiúva</option>
                            <option value="Tambaú">Tambaú</option>
                            <option value="Tanabi">Tanabi</option>
                            <option value="Tapiraí">Tapiraí</option>
                            <option value="Tapiratiba">Tapiratiba</option>
                            <option value="Taquaral">Taquaral</option>
                            <option value="Taquaritinga">Taquaritinga</option>
                            <option value="Taquarituba">Taquarituba</option>
                            <option value="Taquarivaí">Taquarivaí</option>
                            <option value="Tarabai">Tarabai</option>
                            <option value="Tarumã">Tarumã</option>
                            <option value="Tatuí">Tatuí</option>
                            <option value="Taubaté">Taubaté</option>
                            <option value="Tejupá">Tejupá</option>
                            <option value="Teodoro Sampaio">Teodoro Sampaio</option>
                            <option value="Terra Roxa">Terra Roxa</option>
                            <option value="Tietê">Tietê</option>
                            <option value="Timburi">Timburi</option>
                            <option value="Torre de Pedra">Torre de Pedra</option>
                            <option value="Torrinha">Torrinha</option>
                            <option value="Trabiju">Trabiju</option>
                            <option value="Tremembé">Tremembé</option>
                            <option value="Três Fronteiras">Três Fronteiras</option>
                            <option value="Tuiuti">Tuiuti</option>
                            <option value="Tupã">Tupã</option>
                            <option value="Tupi Paulista">Tupi Paulista</option>
                            <option value="Turiúba">Turiúba</option>
                            <option value="Turmalina">Turmalina</option>
                            <option value="Ubarana">Ubarana</option>
                            <option value="Ubatuba">Ubatuba</option>
                            <option value="Ubirajara">Ubirajara</option>
                            <option value="Uchoa">Uchoa</option>
                            <option value="União Paulista">União Paulista</option>
                            <option value="Urânia">Urânia</option>
                            <option value="Uru">Uru</option>
                            <option value="Urupês">Urupês</option>
                            <option value="Valentim Gentil">Valentim Gentil</option>
                            <option value="Valinhos">Valinhos</option>
                            <option value="Valparaíso">Valparaíso</option>
                            <option value="Vargem">Vargem</option>
                            <option value="Vargem Grande do Sul">Vargem Grande do Sul</option>
                            <option value="Vargem Grande Paulista">Vargem Grande Paulista</option>
                            <option value="Várzea Paulista">Várzea Paulista</option>
                            <option value="Vera Cruz">Vera Cruz</option>
                            <option value="Vinhedo">Vinhedo</option>
                            <option value="Viradouro">Viradouro</option>
                            <option value="Vista Alegre do Alto">Vista Alegre do Alto</option>
                            <option value="Vitória Brasil">Vitória Brasil</option>
                            <option value="Votorantim">Votorantim</option>
                            <option value="Votuporanga">Votuporanga</option>
                            <option value="Wenceslau Braz">Wenceslau Braz</option>
                            <option value="Xavantes">Xavantes</option>
                            <option value="Xerém">Xerém</option>
                            <option value="Zacarias">Zacarias</option>

                        </select>
                    </div>

                    <div class="criacao-pjbox-home">
                        <label for="criacao-pj-status">Status</label>
                        <select type="text" id="criacao-pj-status" class="criacao-pj-selects">
                            <option value="Em Desenvolvimento">Em desenvolvimento</option>
                            <option value="Concluído">Concluído</option>
                        </select>
                    </div>

                    <div class="criacao-pjbox-home">
                        <label for="criacao-pj-college-school">Instituição:</label>
                        <select type="text" id="criacao-pj-college-school" class="criacao-pj-selects">
                            <option value="Anhembi Morumbi">Anhembi Morumbi</option>
                            <option value="Belas Artes">Centro Universitário Belas Artes</option>
                            <option value="FMU">Centro Universitário das Faculdades Metropolitanas Unidas (FMU)
                            </option>
                            <option value="Unimar">Centro Universitário de Marília (Unimar)</option>
                            <option value="Unirp">Centro Universitário de Rio Preto (Unirp)</option>
                            <option value="Senac">Centro Universitário Senac</option>
                            <option value="São Camilo">Centro Universitário São Camilo</option>
                            <option value="Uni-Facef">Centro Universitário Uni-Facef</option>
                            <option value="UNIFAFIBE">Centro Universitário UNIFAFIBE</option>
                            <option value="EAESP">Escola de Administração de Empresas de São Paulo (EAESP - FGV)
                            </option>
                            <option value="ECA">Escola de Comunicação e Artes da USP (ECA-USP)</option>
                            <option value="EESC">Escola de Engenharia de São Carlos (EESC-USP)</option>
                            <option value="ETEC">ETEC - Escola Técnica Estadual</option>
                            <option value="Mauá">Escola de Engenharia Mauá</option>
                            <option value="EPM">Escola Paulista de Medicina (EPM)</option>
                            <option value="POLI">Escola Politécnica da USP (POLI-USP)</option>
                            <option value="Fatec">Faculdade de Tecnologia (Fatec)</option>
                            <option value="FAAP">Faculdade Armando Álvares Penteado (FAAP)</option>
                            <option value="Cásper Líbero">Faculdade Cásper Líbero</option>
                            <option value="FDUSP">Faculdade de Direito da USP</option>
                            <option value="FMUSP">Faculdade de Medicina da USP</option>
                            <option value="Fecap"> Fundação Escola de Comércio Álvares
                                Penteado</option>
                            <option value="FGV">Fundação Getúlio Vargas (FGV)</option>
                            <option value="Rio Branco">Faculdades Integradas Rio Branco</option>
                            <option value="Insper">Insper</option>
                            <option value="IPEN">Instituto de Pesquisas Energéticas e Nucleares (IPEN-USP)
                            </option>
                            <option value="IFSP">Instituto Federal de São Paulo (IFSP)</option>
                            <option value="IMT">Instituto Mauá de Tecnologia (IMT)</option>
                            <option value="Mackenzie">Mackenzie</option>
                            <option value="PUC-Campinas">Pontifícia Universidade Católica de Campinas
                                (PUC-Campinas)
                            </option>
                            <option value="PUC-SP">Pontifícia Universidade Católica de São Paulo (PUC-SP)
                            </option>
                            <option value="Universidade Brasil">Universidade Brasil</option>
                            <option value="Cruzeiro do Sul">Universidade Cruzeiro do Sul</option>
                            <option value="Unifran">Universidade de Franca (Unifran)</option>
                            <option value="UMC">Universidade de Mogi das Cruzes (UMC)</option>
                            <option value="Unaerp">Universidade de Ribeirão Preto (Unaerp)</option>
                            <option value="Unisa">Universidade de Santo Amaro (Unisa)</option>
                            <option value="USP">Universidade de São Paulo (USP)</option>
                            <option value="Unicamp">Universidade Estadual de Campinas (Unicamp)</option>
                            <option value="Unesp">Universidade Estadual de São Paulo (Unesp)</option>
                            <option value="UFSCar">Universidade Federal de São Carlos (UFSCar)</option>
                            <option value="Unifesp">Universidade Federal de São Paulo (Unifesp)</option>
                            <option value="UMESP">Universidade Metodista de São Paulo (UMESP)</option>
                            <option value="Uninove">Universidade Nove de Julho (Uninove)</option>
                            <option value="Unip">Universidade Paulista (Unip)</option>
                            <option value="São Judas">Universidade São Judas Tadeu</option>
                        </select>
                    </div>



                    <div id="criacao-imgs-box">

                        <div class="criacao-pjbox">
                            <label for="criacao-pj-logo-img" class="criacao-file-linked">
                                <strong>Logo</strong><span class="material-symbols-outlined">upload</span>
                                <input type="file" id="criacao-pj-logo-img">
                            </label>
                            <div class="criacao-file-name" id="criacao-pj-logo-name">Nenhum arquivo selecionado
                            </div>
                        </div>
                        <div class="criacao-pjbox">
                            <label for="criacao-pj-back-img" class="criacao-file-linked">
                                <strong> Imagem de fundo </strong> <span class="material-symbols-outlined">upload</span>
                                <input type="file" id="criacao-pj-back-img">
                            </label>
                            <div class="criacao-file-name" id="criacao-pj-back-name">Nenhum arquivo selecionado
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <div id="criacao-pre-visu-post-home">
                <!-- começo -->

                <div class="criacao-previsu-posts-style" id="criacao-previsu-post-1">
                    <div class="criacao-previsu-project-img-box">
                        <img src="../assets/back-post.png" class="criacao-previsu-project-img-style">
                    </div>

                    <div class="criacao-previsu-post-short-info-box">
                        <div class="criacao-previsu-short-info-box">
                            <img src="../assets/gray-cir.png" class="criacao-previsu-avatar-project-img-style">
                            <div class="criacao-previsu-some-info">
                                <div class="criacao-previsu-project-name-style">
                                    Incentiva
                                </div>
                                <div class="criacao-previsu-type-location-instituicao-status-box">
                                    <div class="criacao-previsu-infos-style">
                                        Informática

                                    </div>
                                    &bullet;
                                    <div class="criacao-previsu-infos-style"> São Paulo </div>
                                    &bullet;
                                    <div class="criacao-previsu-infos-style"> Em desenvolvimento </div>
                                    &bullet;
                                    <div class="criacao-previsu-infos-style"> UFRJ</div>
                                </div>
                            </div>
                        </div>

                        <div class="criacao-previsu-share-btn-style">

                        </div>
                    </div>
                    <div class="criacao-previsu-post-desc-box">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde ipsum dignissimos
                            nobis
                            maxime repudiandae, ipsa officia assumenda similique saepe id explicabo vel
                            necessitatibus totam ipsam fuga dolore harum dolores sunt.</p>
                    </div>

                </div>

                <!-- fim -->
            </div>
        </div>
        <div id="criacao-buttons">
            <button id="criacao-proximo">
                Próximo
                <span class="material-symbols-outlined">
                    send
                </span>
            </button>
        </div>
    </div>

    <!-- SAIBA MAIS --> <!-- SAIBA MAIS -->
    <!-- SAIBA MAIS --> <!-- SAIBA MAIS -->
    <!-- SAIBA MAIS --> <!-- SAIBA MAIS -->
    <!-- SAIBA MAIS --> <!-- SAIBA MAIS -->

    <div id="criacao-saiba-mais" style="display: none;">
        <h1>Criação do Projeto - <span style="color: rgb(29, 80, 221);">Saiba Mais</span></h1>
        <a href="/home" class="volta-home">Voltar para Home</a>
        <div id="criacao-saiba-mais-style" class="parts-style">
            <div class="criacao-pjbox">
                <label for="criacao-pj-goal">Qual é o Objetivo?</label>
                <textarea type="text" id="criacao-pj-goal"
                    placeholder="Escreva qual é o objetivo do seu projeto. Ex: Criar uma plataforma educacional que utilize técnicas de gamificação para aumentar a motivação e a retenção de conhecimento entre os estudantes do ensino fundamental e médio."></textarea>
            </div>
            <div class="criacao-pjbox">
                <label for="criacao-pj-techniques">Quais técnicas ou conhecimentos foram utilizados?</label>
                <textarea type="text" id="criacao-pj-techniques"
                    placeholder="Escreva alguns dos conhecimentos e técnicas utilizadas no projeto. Ex: O projeto utilizou técnicas de gamificação, desenvolvimento de software, design de interface de usuário, métodos de ensino e aprendizagem, além de pesquisas qualitativas e quantitativas."></textarea>
            </div>
            <div class="criacao-pjbox">
                <label for="criacao-pj-why">Qual o motivo da criação?</label>
                <textarea type="text" id="criacao-pj-why"
                    placeholder="Escreva qual foi o motivo da criação do projeto. Ex: A criação da plataforma foi motivada pela necessidade de melhorar o engajamento dos estudantes nas atividades escolares e tornar o processo de aprendizagem mais interativo e eficaz."></textarea>
            </div>
            <div class="criacao-pjbox">
                <label for="criacao-pj-impacts">Quais impactos terá na sociedade?</label>
                <textarea type="text" id="criacao-pj-impacts"
                    placeholder="Escreva qual é o impacto que esse projeto terá na sociedade. Ex: O impacto que esse projeto terá na sociedade será o aumento do interesse pelos estudos, a melhoria da qualidade educacional, a redução da evasão escolar e o desenvolvimento de habilidades tecnológicas."></textarea>
            </div>

            <div class="criacao-pjbox" style="margin: 10px 0 10px 0;">
                <label for="criacao-pj-detalhamento">Detalhamento: </label>
                <textarea id="criacao-pj-detalhamento"
                    placeholder="Escreva detalhes a mais sobre seu projeto, informações extras. Ex: Além disso o projeto contará também com uma linguagem de sinais que abrengerá surdos e mudos, fator que demonstra o compromisso e a acessibilidade do projeto."></textarea>
            </div>

            <div class="criacao-pjbox criacao-border">
                <div id="criacao-pix">
                    <img src="/assets/pix.png" alt="" srcset="">
                    <h2>
                        Pix do Projeto
                    </h2>
                    <p>
                        Nesse pix você poderá receber o dinheiro de um incentivo ou da compra do seu projeto.
                    </p>
                    <select id="criacao-tipo-pix" onchange="atualizarPlaceholder()">
                        <option value="cpf">CPF</option>
                        <option value="telefone">Telefone</option>
                        <option value="email">E-mail</option>
                        <option value="aleatoria">Chave Aleatória</option>
                    </select>
                    <div id="criacao-change-input-model">
                        <div id="customized-cpf"><input type="text" id="cpf-part-1"
                                autocomplete="off"><span>.</span><input type="text" id="cpf-part-2"
                                autocomplete="off"><span>.</span><input type="text" id="cpf-part-3"
                                autocomplete="off"><span>-</span>
                            <input type="text" id="cpf-part-4" autocomplete="off">
                        </div>
                    </div>

                </div>

                <div class="criacao-pjbox criacao-border">
                    <label for="criacao-pj-progress">O quanto seu projeto está pronto: <span
                            id="criacao-pj-progress-number">50%</span></label>
                    <input type="range" id="criacao-pj-progress" value="50">
                </div>




                <div class="criacao-pjbox criacao-border">
                    <label for="criacao-pj-tipo-de-projeto">Tipo de Projeto:</label>
                    <select id="criacao-pj-tipo-de-projeto">
                        <option value="Análise Documental">Análise Documental</option>
                        <option value="Apresentação de Slides">Apresentação de Slides</option>
                        <option value="Artigo Científico">Artigo Científico</option>
                        <option value="Artigo de Revisão">Artigo de Revisão</option>
                        <option value="Dissertação">Dissertação</option>
                        <option value="Documentação">Documentação</option>
                        <option value="Ensaio Teórico">Ensaio Teórico</option>
                        <option value="Estudo de Caso">Estudo de Caso</option>
                        <option value="Livro Didático">Livro Didático</option>
                        <option value="Manual Técnico">Manual Técnico</option>
                        <option value="Monografia">Monografia</option>
                        <option value="Plano de Negócios">Plano de Negócios</option>
                        <option value="Planejamento Estratégico">Planejamento Estratégico</option>
                        <option value="Poster Científico">Poster Científico</option>
                        <option value="Proposta de Intervenção">Proposta de Intervenção</option>
                        <option value="Proposta de Pesquisa">Proposta de Pesquisa</option>
                        <option value="Projeto de Extensão">Projeto de Extensão</option>
                        <option value="Projeto Interdisciplinar">Projeto Interdisciplinar</option>
                        <option value="Relatório de Estágio">Relatório de Estágio</option>
                        <option value="Relatório de Pesquisa">Relatório de Pesquisa</option>
                        <option value="Relatório Técnico">Relatório Técnico</option>
                        <option value="Revisão Bibliográfica">Revisão Bibliográfica</option>
                        <option value="Revisão Sistemática">Revisão Sistemática</option>
                        <option value="TCC">TCC</option>
                        <option value="Tese">Tese</option>
                        <option value="Trabalho Experimental">Trabalho Experimental</option>
                    </select>


                    <div class="criacao-pjbox" style="margin: 10px 0 10px 0;">
                        <h2 id="criacao-links-h2">Adicione os links do seu Projeto</h2>
                        <p id="criacao-links-legenda">
                            Aqui, você deve obrigatoriamente adicionar o link para o download da documentação do seu
                            projeto
                            acadêmico.
                            Além disso, pode incluir links para leitura ou download de códigos de programação, vídeos,
                            arquivos PDF, entre outros, se forem relevantes para o seu projeto.

                        </p>
                        <div class="criacao-links">


                            <div class="criacao-links-item">
                                <input type="text" class="criacao-links-item-nome-link" disabled="true"
                                    value="Documentação">
                                <input type="text" class="criacao-links-item-link" placeholder="Link">

                            </div>


                            <button id="criacao-links-adicionar-link">
                                Adicionar outro link+
                            </button>

                            <div id="criacao-links-content">
                                <!-- <div class="criacao-links-item">
                                <input type="text" class="criacao-links-item-nome-link">
                                <input type="text" class="criacao-links-item-link">
                                <button class="criacao-remove-item-link"><span class="material-symbols-outlined">
                                        close
                                    </span></button>
                            </div> -->
                            </div>
                        </div>
                    </div>
                </div>





                <div class="criacao-pjbox criacao-border">
                    <label for="criacao-pj-team">Informações da Equipe: </label>
                    <button id="criacao-add-team-member">Adicionar Membro <span class="material-symbols-outlined">
                            person_add
                        </span></button>
                    <div id="criacao-team-member-list">


                    </div>
                </div>



                <div class="criacao-pjbox criacao-border" style="margin: 10px 0 10px 0;">
                    <h2 id="h2-img-extra">Adicione imagens relevantes ao seu Projeto:</h2>
                    <label for="criacao-pj-extra-img" class="criacao-file-linked">
                        <strong>Imagens extras</strong><span class="material-symbols-outlined">upload</span>
                        <input type="file" id="criacao-pj-extra-img" multiple>
                    </label>
                    <div class="criacao-file-name" id="criacao-pj-extra-img-name">
                        0 de 10
                    </div>
                    <div id="criacao-preview-container"></div>
                </div>


                <div class="criacao-pjbox" style="margin: 10px 0 10px 0;">
                    <button id="criacao-saiba-mais-previsualizar">
                        Pré-Visualizar Saiba Mais
                    </button>
                </div>



            </div>
            <div id="criacao-saiba-mais-buttons">
                <button id="criacao-saiba-mais-voltar">
                    <span class="material-symbols-outlined">
                        arrow_back
                    </span> Voltar
                </button>
                <button id="criacao-saiba-mais-finalizar">
                    Finalizar
                    <span class="material-symbols-outlined">
                        send
                    </span>
                </button>
            </div>
        </div>
    </div>

    <dialog id="criacao-modal-error" class="criacao-dialogs">

        <p id="criacao-msg-error">
            Algum campo não foi preenchido!
        </p>
        <div id="criacao-modal-error-btns">
            <button id="criacao-modal-error-ok">OK</button>
        </div>
    </dialog>


    <dialog id="criacao-modal-adicionar-membro" class="criacao-dialogs">
        <div id="criacao-modal-add-membro-style">
            <h5>Adicionar membro:</h5>
            <div id="criacao-modal-customized-input">
                <div>#</div>
                <input type="text" id="criacao-add-member-input" autocomplete="off"
                    placeholder="Digite o username do membro">
            </div>
            <p id="criacao-modal-member-error"></p>
            <div id="criacao-modal-adicionar-membro-btns">
                <button id="criacao-modal-add-membro-fechar-btn">
                    Fechar
                </button>
                <button id="criacao-modal-add-membro-add-btn">
                    + Adicionar
                </button>
            </div>
        </div>
    </dialog>

    <dialog id="criacao-pre-visualizar-sm" class="criacao-dialogs">

        <div id="p-sm-btn-fechar-div">
            <button id="p-sm-know-more-content-btn-fechar">
                <span class="material-symbols-outlined">
                    close
                </span>
            </button>
        </div>


        <main id="p-sm-know-more-content">
            <div id="p-sm-know-more-project">
                <div id="p-sm-know-more-first-informations">
                    <h1>Saiba Mais sobre o Projeto <span id="p-sm-know-more-pj-name">Incentiva</span></h1>

                    <div id="p-sm-know-more-some-items">

                        <div id="p-sm-clicables">
                            <div class="p-sm-style-boxes p-sm-style-clickable">
                                Integrantes
                            </div>

                            <div class="p-sm-style-boxes p-sm-style-clickable">
                                Incentivos recebidos
                            </div>
                        </div>

                        <div id="p-sm-no-clicables">
                            <div class="p-sm-style-boxes">
                                Status: <span id="p-sm-know-more-pj-status-value"> Em desenvolvimento</span>
                            </div>

                            <div class="p-sm-style-boxes">
                                Tipo de projeto: <span id="p-sm-know-more-pj-type-of-proj"> Plano de Negócios</span>
                            </div>
                        </div>



                    </div>
                    <img src="./assets/incentiva-black-logo.png" id="p-sm-know-more-pj-logo">
                    <div id="p-sm-know-more-pj-little-informations">
                        <h3 id="p-sm-know-more-pj-field">Informática</h3>
                        &bullet;
                        <h3 id="p-sm-know-more-pj-localization">São Paulo</h3>
                        &bullet;
                        <h3 id="p-sm-know-more-pj-college">UFRJ</h3>
                    </div>

                    <p class="p-sm-know-more-aligned-text" id="p-sm-know-more-pj-quick-desc"> O Incentiva é um
                        projeto que
                        visa
                        interligar Criadores de Projetos acadêmicos com Possíveis incentivadores e compradores
                        de
                        projetos.

                </div>

                <div id="p-sm-know-more-pj-questions">
                    <div class="p-sm-know-more-question">
                        <h2>Qual é o objetivo?
                        </h2>
                        <p class="p-sm-know-more-aligned-text">Criar uma plataforma educacional que utilize
                            técnicas
                            de
                            gamificação para aumentar a
                            motivação e a retenção de conhecimento entre os estudantes do ensino fundamental e
                            médio.
                        </p>
                    </div>
                    <div class="p-sm-know-more-question">
                        <h2>Quais técnicas ou conhecimentos foram utilizados?
                        </h2>
                        <p class="p-sm-know-more-aligned-text">O projeto utilizou técnicas de gamificação,
                            desenvolvimento de
                            software, design de interface
                            de usuário, métodos de ensino e aprendizagem, além de pesquisas qualitativas e
                            quantitativas.</p>
                    </div>
                    <div class="p-sm-know-more-question">
                        <h2>Qual o motivo da criação?
                        </h2>
                        <p class="p-sm-know-more-aligned-text">A criação da plataforma foi motivada pela
                            necessidade
                            de
                            melhorar o engajamento dos
                            estudantes nas atividades escolares e tornar o processo de aprendizagem mais
                            interativo e
                            eficaz.</p>
                    </div>
                    <div class="p-sm-know-more-question">
                        <h2>Quais impactos terá na sociedade?
                        </h2>
                        <p class="p-sm-know-more-aligned-text">O impacto que esse projeto terá na sociedade será o
                            aumento do
                            interesse pelos estudos, a
                            melhoria da qualidade educacional, a redução da evasão escolar e o desenvolvimento
                            de
                            habilidades tecnológicas.</p>
                    </div>
                </div>

                <div class="p-sm-know-more-question">
                    <h2>Detalhamento
                    </h2>
                    <p class="p-sm-know-more-aligned-text" id="p-sm-know-more-detalhamento">Criar uma plataforma
                        educacional que utilize
                        técnicas
                        de
                        gamificação para aumentar a
                        motivação e a retenção de conhecimento entre os estudantes do ensino fundamental e
                        médio.
                    </p>
                </div>

                <div id="p-sm-know-more-progress">
                    <h3>Progresso: <span id="p-sm-know-more-pj-progress-number">40%</span></h3>
                    <div id="p-sm-know-more-pj-progress-show">
                        <div id="p-sm-know-more-pj-progress-show-percentage"></div>
                    </div>

                </div>

                <div id="p-sm-know-more-pj-questions">

                    <div id="p-sm-know-more-extra-images">
                        <h2>Imagens Extras</h2>
                        <div id="p-sm-extra-images-container">


                        </div>

                    </div>
                </div>

        </main>


    </dialog>

    <script src="/scripts/criacao-projeto.js"></script>