@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --azul-clean: #198CF8;
    /* Variável de cor */
}

#criacao-post-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

#criacao-post-home h1 {
    margin: 15px 0 15px 0;
}

#criacao-divisao-telas {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* ---- */

.criacao-pjbox-home {
    padding: 6px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.criacao-pjbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0px;
}

.criacao-pjbox label {
    font-size: 22px;
}

#criacao-pj-name {
    padding: 5px 15px;
    border-radius: 28px;
    border: 1px solid #0b79e1;
    font-size: 15px;
    width: 120%;
    text-align: center;
    word-break: break-all;
}


#criacao-pj-quick-des {
    width: 600px;
    height: 100px;
    border-radius: 8px;
    padding: 15px;
    border: 1px solid #0b79e1;
    font-size: 15px;
    resize: none;
    overflow: auto;
    padding: 10px;
    box-sizing: border-box;
}




#criacao-pj-localization,
#criacao-pj-field,
#criacao-pj-college-school,
#criacao-pj-status {
    border: 1px solid #0b79e1;
    border-radius: 28px;
    font-size: 15px;
    padding: 4px;
}

#criacao-pj-tipo-de-projeto {
    border: 1px solid #0b79e1;
    border-radius: 28px;
    font-size: 18px;
    padding: 8px;
    text-align: center;
}

input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}


.criacao-file-linked span {
    font-size: 20px;
}

.criacao-file-linked:hover {
    cursor: pointer;
    opacity: 50%;
}


.criacao-parts-style {
    width: 800px;
    background-color: #ffffff;
    box-shadow: 5px 5px 25px rgb(233, 233, 233);
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 28px;
}

.criacao-file-name {
    margin-top: 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: inline-block;
    width: 16dvw;
    text-align: center;
    box-sizing: border-box;
    font-size: 15px;
}


.criacao-previsu-posts-style {
    width: 700px;
    background-color: rgba(255, 255, 255, 0.959);
    padding: 18px;
    border-radius: 18px;
    margin-bottom: 50px;
}

.criacao-previsu-project-img-box {
    margin: 0 auto 0 auto;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 18px;
}

.criacao-previsu-post-short-info-box {
    width: 100%;
    padding-left: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-break: break-all;
}

.criacao-previsu-short-info-box {
    display: flex;
    width: 100%;
    word-break: break-all;
}

.criacao-previsu-some-info {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: 100%;
    word-break: break-all;
}

.criacao-previsu-project-name-style {
    font-weight: 600;
    font-size: 28px;
}

.criacao-previsu-type-location-instituicao-status-box {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
}

.criacao-previsu-infos-style {
    font-size: 14px;
}



.criacao-previsu-share-btn-style span {
    font-size: 40px;
    color: #a9a9a9;
}

.criacao-previsu-avatar-project-img-style {
    border: 8px solid white;
    border-radius: 50%;
    min-width: 120px;
    min-height: 120px;
    max-width: 120px;
    max-height: 120px;
    object-fit: cover;
    display: block;
    z-index: 1;
    position: relative;
    margin-top: -10%;
    background-color: white;
}

.criacao-previsu-project-img-style {
    width: 100%;
}



.criacao-previsu-post-desc-box {
    margin-top: 25px;
    width: 100%;
    padding-left: 10%;
    width: 100%;
    font-size: 16px;
    word-break: break-all;
}

.criacao-previsu-post-interactions-box {
    margin-top: 20px;
    width: 100%;
    padding-left: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.criacao-previsu-main-interactions-box {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.criacao-previsu-post-interactions-box span {
    font-size: 38px;
    color: #198CF8;
}

#criacao-buttons {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    padding: 40px;
}

#criacao-proximo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 10px;
    padding: 10px 90px;
    font-size: 20px;
    background-color: var(--azul-clean);
    color: white;
    position: relative;
    margin-top: -55px;
}


#criacao-proximo:hover {
    cursor: pointer;
    opacity: 70%;
}

#criacao-proximo:active {
    opacity: 90%;
}

#criacao-pre-visu-post-home {
    background-color: white;
    box-shadow: 5px 5px 25px rgb(233, 233, 233);
    border-radius: 20px;
    border: 1px solid var(--azul-clean);
}

#criacao-pj-back-img,
#criacao-pj-logo-img {
    display: none;
}


#criacao-saiba-mais {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#criacao-saiba-mais h1 {
    margin: 15px 0 15px 0;
}

#criacao-saiba-mais-style {
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#criacao-pj-why,
#criacao-pj-detalhamento,
#criacao-pj-goal,
#criacao-pj-donation,
#criacao-pj-techniques,
#criacao-pj-impacts {
    width: 800px;
    height: 140px;
    border-radius: 8px;
    padding: 0.8dvw;
    border: 1px solid #0b79e1;
    font-size: 17px;
    resize: none;
}


.criacao-radio-style {
    width: 25px;
    height: 25px;
}

.criacao-radio-style:hover {
    cursor: pointer;
}

.criacao-align-radio {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 5px;
}



#criacao-pj-phases {
    width: 600px;
    height: 350px;
    border-radius: 8px;
    padding: 15px;
    border: 1px solid #0b79e1;
    font-size: 18px;
    resize: none;
    overflow: auto;
    padding: 10px;
    box-sizing: border-box;
}

#criacao-add-phase:hover {
    opacity: 50%;
    cursor: pointer;
}

#criacao-add-phase:active {
    background-color: #072f53;
}

#criacao-pj-progress {
    width: 400px;
    height: 40px;
}


#part-1 {
    gap: 10px;
}

#criacao-imgs-box {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 34dvw;
    gap: 40px;
}

#criacao-add-team-member {
    padding: 10px 40px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #0b79e1;
    border: none;
    border: 2px solid #0b79e1;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: 500;
    margin-top: 10px;
}

#criacao-add-team-member span:nth-last-child(1) {
    font-size: 20px;
}

#criacao-add-team-member:hover {
    cursor: pointer;
    opacity: 50%;
}

#criacao-pj-add-member-content {
    padding-top: 2dvw;
    display: flex;
    justify-content: center;
    gap: 5dvw;
    flex-wrap: wrap;
    width: 50dvw;
}

.criacao-pj-members {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #0b79e1;
    border-radius: 10px;
    padding: 0 1dvw 0.5dvw 1dvw;
}

.criacao-photo-stuff-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.criacao-members-h2 {
    position: relative;
    top: -1.4dvw;
    background-color: white;
    padding: 0.5dvw 0.5dvw;
    font-size: 1.2dvw;
    font-weight: 500;
    color: #0b79e1;
}

.criacao-pj-member-name-style {
    padding: 0.2dvw 0;
    border-radius: 28px;
    border: 1px solid #000000;
    font-size: 0.9dvw;
    width: 12dvw;
    text-align: center;
}

.criacao-pj-member-function-style {
    padding: 0.2dvw 1dvw;
    border-radius: 28px;
    border: 1px solid #000000;
    font-size: 0.9dvw;
    width: 20dvw;
    text-align: center;
    margin-bottom: 1dvw;
}

.criacao-space-up {
    margin-top: 1dvw;
}

.criacao-file-linked {
    margin-top: 5px;
    background-color: #0b79e1;
    color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 300px;
    font-size: 20px;
    padding: 5px;
}

.criacao-file-linked strong {
    font-weight: 500;
}

.criacao-pj-delete-member-style {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    /* -webkit-font-feature-settings: 'liga'; */
    -webkit-font-smoothing: antialiased;
    color: white;
    background-color: rgba(254, 45, 45, 0.873);
    padding: 0.2dvw 0.6dvw;
    border-radius: 5px;
    margin-bottom: 1dvw;
    font-size: 2.1dvw;
}

.criacao-pj-delete-member-style:hover {
    cursor: pointer;
    opacity: 50%;
}

.criacao-pj-delete-member-style:active {
    color: rgb(105, 0, 0)
}

#criacao-saiba-mais-previsualizar {
    color: var(--azul-clean);
    border: 2px solid var(--azul-clean);
    font-size: 28px;
    font-weight: 500;
    padding: 20px 30px;
    border-radius: 15px;
    background-color: white;
    margin: 40px 0 10px 0;
}

#criacao-saiba-mais-previsualizar:hover {
    opacity: 60%;
    cursor: pointer;
}

#criacao-saiba-mais-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

#criacao-saiba-mais-voltar,
#criacao-saiba-mais-finalizar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 10px;
    padding: 10px 90px;
    font-size: 20px;
    background-color: var(--azul-clean);
    color: white;
}

#criacao-saiba-mais-voltar:hover,
#criacao-saiba-mais-finalizar:hover {
    opacity: 60%;
    cursor: pointer;
}

#criacao-customized-input-meta-incentivo {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

#criacao-dinheiro-simbolo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: 1px solid var(--azul-clean);
    border-radius: 20px 0 0 20px;
    height: 100%;
}

#criacao-pj-meta-incentivo {
    height: 100%;
    border: none;
    border-radius: 0 20px 20px 0;
    border: 1px solid var(--azul-clean);
    font-size: 20px;
}

.criacao-pj-selects {
    text-align: center;
    width: 200px;
}

#criacao-preview-container {
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 1500px;
    flex-wrap: wrap;
}

.criacao-saiba-mais-extra-img-item {
    max-width: 500px;
    object-fit: cover;
    padding: 10px;
    border: 1px solid var(--azul-clean);
    border-radius: 10px;
}

.criacao-saiba-mais-extra-img-item-remove-btn {
    border-radius: 20px;
    padding: 5px 10px;
    color: rgb(141, 2, 2);
    font-size: 14px;
    border: none;
}

.criacao-saiba-mais-extra-img-item-remove-btn:hover {
    opacity: 50%;
    cursor: pointer;
}

.criacao-saiba-mais-extra-img-item-remove-btn:active {
    opacity: 90%;
}

.criacao-saiba-mais-extra-img-item-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#criacao-pj-extra-img {
    display: none;
}

#p-sm-btn-fechar-div {
    width: 100%;
    display: flex;
    justify-content: end;
    padding-right: 20px;
}

.criacao-dialogs {
    margin: auto;
    width: 500px;
    border-radius: 20px;
    border: none;
    padding: 20px;
    text-align: center;
}




#criacao-msg-error {
    font-size: 20px
}

#criacao-modal-error-btns {
    display: flex;
    justify-content: center;
}

#criacao-modal-error-ok {
    padding: 10px 30px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 20px;
    background-color: var(--azul-clean);
    color: white;
    border: none;
    margin-top: 15px;
}

#criacao-modal-error-ok:hover {
    opacity: 50%;
    cursor: pointer;
}

#criacao-team-member-list {
    margin-top: 20px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
}

.criacao-team-member-item {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--azul-clean);
    border-radius: 10px;
    padding: 10px;
}

.criacao-team-member-item p {
    font-size: 24px;
    font-weight: 500;
}

.criacao-team-member-item button {
    padding: 5px 10px;
    background-color: rgb(176, 45, 45);
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.criacao-team-member-item button:hover {
    cursor: pointer;
    opacity: 50%;
}

.criacao-team-member-item button:active {
    opacity: 90%;
}

.criacao-team-member-item button span {
    font-size: 20px;
    color: white;
}


.volta-home {
    font-size: 17px;
    text-decoration: none;
    font-weight: 600;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    padding: 2px 6px;
    border-radius: 10px;
    margin-top: 10px;
}




#criacao-modal-add-membro-style {
    display: flex;
    flex-direction: column;
}

#criacao-modal-adicionar-membro h5 {
    font-size: 28px;
}

#criacao-modal-customized-input {
    /* background-color: #a9a9a9; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;

}

#criacao-modal-customized-input div {

    background-color: rgba(89, 89, 89, 0.149);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 20px;

}

#criacao-modal-customized-input input {
    /* background-color: #7fc0fc; */
    height: 40px;
    font-size: 18px;
    width: 300px;
    text-align: center;
}

#criacao-modal-adicionar-membro-btns {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 80px;
}



#criacao-modal-add-membro-fechar-btn {
    padding: 10px 25px;
    border-radius: 20px;
    border: 2px solid var(--azul-clean);
    font-size: 18px;
    font-weight: 500;
    color: var(--azul-clean);
    background-color: white;
}

#criacao-modal-add-membro-add-btn {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: var(--azul-clean);
}

#criacao-modal-add-membro-fechar-btn:hover,
#criacao-modal-add-membro-add-btn:hover {
    cursor: pointer;
    opacity: 50%;
}

#criacao-modal-add-membro-fechar-btn:active,
#criacao-modal-add-membro-add-btn:active {
    cursor: pointer;
    opacity: 100%;
}

#criacao-modal-member-error {
    height: 20px;
    color: red;
}

#criacao-pre-visualizar-sm {
    width: 1200px;
}

#p-sm-extra-images-container {
    padding-top: 50px;
    width: 1000px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.p-sm-extra-image-style {
    border-radius: 20px;
    max-width: 700px;
    object-fit: cover;

}


#p-sm-know-more-content {
    padding: 30px 100px 150px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

#p-sm-know-more-project {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #0080f8;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#p-sm-know-more-some-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    margin: 10px 0;
}


/* #p-sm-know-more-pj-status-value {} */

#p-sm-know-more-pj-logo {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}

#p-sm-know-more-pj-little-informations {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 25px;
    margin-bottom: 10px;
}

#p-sm-know-more-pj-little-informations h3 {
    font-size: 24px;
    color: #000000;
    font-weight: 400;
}

.p-sm-know-more-aligned-text {
    width: 880px;
    font-size: 20px;
    font-weight: 500;
    color: #1d1d1d;
    word-break: break-all;
}

.p-sm-know-more-question {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 22px 0 22px 0;
}

.p-sm-know-more-question h2 {
    font-size: 30px;
    font-weight: 700;
}

#criacao-preview-container {
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 300px;
    flex-wrap: wrap;
}

.p-sm-extra-image-style {
    border-radius: 20px;
    max-width: 100px;
    object-fit: cover;
}

#p-sm-extra-images-container {
    padding-top: 50px;
    width: 300px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

#p-sm-know-more-pj-progress-show {
    width: 600px;
    height: 40px;
    background-color: rgb(240, 240, 240);
    outline: 1px solid black;
    border-radius: 5px;
}

#p-sm-know-more-pj-progress-show-percentage {
    border-radius: 5px 0 0 5px;
    height: 40px;
    width: 200px;
    background-color: rgb(41, 155, 255);
}

#p-sm-know-more-progress {
    width: 20dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 40px 0;
}


#p-sm-know-more-progress h3 {
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 600;
}

#p-sm-know-more-first-informations {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2dvw 0 0 0;
    padding-bottom: 10px;
    font-size: 0.9dvw;
}

#p-sm-know-more-first-informations h1 {
    font-size: 50px;
}

#p-sm-know-more-pj-name {
    color: #0080f8;
}

#p-sm-know-more-phases {
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#p-sm-know-more-phases h2 {
    width: 15dvw;
    font-size: 1.4dvw;
    font-weight: 600;
    background-color: #ffffff;
    position: relative;
    bottom: -1dvw;
    display: flex;
    justify-content: center;
    align-items: center;
}


#p-sm-know-more-phases p {
    font-size: 1.1dvw;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #0080f8;
}



.p-sm-style-boxes {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    font-weight: 500;
}

.p-sm-style-clickable {
    color: var(--azul-clean);
}

#p-sm-clicables,
#p-sm-no-clicables {
    display: flex;
    gap: 20px;
    justify-content: center;
}

#p-sm-know-more-pj-status-value,
#p-sm-know-more-pj-type-of-proj {
    font-weight: 300;
}

#p-sm-know-more-content-btn-fechar {
    font-size: 20px;
    border-radius: 10px;
    color: var(--azul-clean);
    border: 2px solid var(--azul-clean);
    padding: 5px 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#p-sm-know-more-content-btn-fechar span {
    font-size: 28px;
    color: #0080f8;
}

#p-sm-know-more-content-btn-fechar:hover {
    cursor: pointer;
    opacity: 50%;
}

#p-sm-know-more-content-btn-fechar:active {
    opacity: 100%;
}

.criacao-border {
    border: 1px solid var(--azul-clean);
    border-radius: 20px;
    margin: 20px 0;
    width: 950px;
}

#criacao-links-legenda {
    width: 70%;
    margin: 10px 0;
    font-size: 18px;
}

.criacao-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.criacao-links-item {
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.criacao-links-item-nome-link,
.criacao-links-item-link {
    font-size: 18px
}

.criacao-links-item-nome-link {
    font-weight: 500;
    width: 350px;
    text-align: center;
}

.criacao-links-item-link {
    width: 550px;
}

.criacao-remove-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: none;

}

.criacao-remove-item-link:hover {
    cursor: pointer;
    opacity: 50%;
}

.criacao-remove-item-link:active {
    opacity: 100%;
}

.criacao-remove-item-link span {
    color: rgb(120, 0, 0);
}

#criacao-links-adicionar-link {
    padding: 5px 20px;
    font-weight: 400;
    font-size: 20px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    background-color: var(--azul-clean);
    color: white;
}

#criacao-links-adicionar-link:hover {
    cursor: pointer;
    opacity: 50%;
}

#criacao-links-adicionar-link:active {
    opacity: 100%;
}

#p-sm-know-more-links {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

#p-sm-know-more-links h2 {
    margin-bottom: 15px;
}

#p-sm-know-more-links-content {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

#p-sm-know-more-links-content div strong {
    font-size: 20px;
}

#p-sm-know-more-links-content div a {
    font-size: 18px;
    text-decoration: none;
}

#p-sm-know-more-links-content div a:hover {
    text-decoration: underline;
}

#criacao-pix {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#criacao-pix p {
    font-size: 17px;
}

#criacao-pix img {
    width: 100px;
}

#criacao-tipo-pix,
#criacao-projeto-pix-value {
    padding: 5px 0;
    width: 250px;
    font-size: 20px;
    margin-top: 10px;
}

#criacao-projeto-pix-value {
    width: 350px;
}

#criacao-projeto-pix-value::placeholder {
    text-align: center;
}

#criacao-projeto-preco {
    width: 300px;
    height: 50px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

#criacao-change-input-model {
    margin-top: 20px;
}

#customized-cpf {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#customized-cpf span {
    font-size: 30px;
}


#cpf-part-1,
#cpf-part-2,
#cpf-part-3 {
    border-radius: 5px;
    width: 100px;
    height: 35px;
    text-align: center;
    font-size: 20px;
}

#cpf-part-4 {
    border-radius: 5px;
    width: 40px;
    height: 35px;
    text-align: center;
    font-size: 20px;
}


#customized-input-telefone {
    display: flex;
    justify-content: center;
    align-items: center;
}

#customized-input-telefone span {
    font-size: 30px;
}

#number-part-1 {
    border-radius: 5px;
    width: 50px;
    height: 35px;
    text-align: center;
    font-size: 20px;
}

#number-part-2,
#number-part-3 {
    border-radius: 5px;
    width: 100px;
    height: 35px;
    text-align: center;
    font-size: 20px;
}

#input-email-pix,
#input-chave-aleatoria-pix {
    padding: 10px 4px;
    border-radius: 5px;
    font-size: 20px;
    width: 300px;
    text-align: center;
}

@media (max-width:1550px) {
    .criacao-parts-style {

        width: 700px;
        background-color: #ffffff;
        box-shadow: 5px 5px 25px rgb(233, 233, 233);
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
        border-radius: 28px;
    }
}

@media (max-width:1465px) {
    #criacao-divisao-telas {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }

    #criacao-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 40px;
    }

    #criacao-proximo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: none;
        border-radius: 10px;
        padding: 10px 90px;
        font-size: 20px;
        background-color: var(--azul-clean);
        color: white;
        position: relative;
        margin-top: 0px;
    }
}

@media (max-width:1250px) {
    .criacao-dialogs {
        margin: auto;
        width: 500px;
        border-radius: 20px;
        border: none;
        padding: 5px;
        text-align: center;
    }

    #criacao-pre-visualizar-sm {
        width: 1070px;
    }

    #p-sm-know-more-content {
        padding: 3px 10px 15px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-direction: column;
    }

    .p-sm-know-more-aligned-text {
        width: 250px;
        font-size: 16px;
        font-weight: 500;
        color: #1d1d1d;
        word-break: break-all;
    }

    #p-sm-know-more-project {
        padding: 4px;
        border-radius: 10px;
        border: 2px solid #0080f8;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #p-sm-know-more-first-informations h1 {
        font-size: 30px;
        width: 200px;
        text-align: center;
    }

    .p-sm-style-boxes {
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 7px;
        font-weight: 500;
    }

    .p-sm-style-boxes {
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2px;
        font-weight: 500;
        width: 100px;
    }

    .p-sm-know-more-question h2 {
        width: 250px;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
    }

    #p-sm-know-more-some-items {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 5px;
        margin: 10px 0;
    }

    #p-sm-know-more-pj-logo {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
        display: block;
    }

    #p-sm-know-more-pj-progress-show {
        width: 200px;
        height: 20px;
        background-color: rgb(240, 240, 240);
        outline: 1px solid black;
        border-radius: 5px;
    }

    #p-sm-know-more-pj-progress-show-percentage {
        border-radius: 5px 0 0 5px;
        height: 20px;
        background-color: rgb(41, 155, 255);
    }

    #p-sm-clicables,
    #p-sm-no-clicables {
        display: flex;
        gap: 30px;
        justify-content: center;
    }

    #p-sm-know-more-pj-little-informations h3 {
        font-size: 18px;
        color: #000000;
        font-weight: 400;
    }

    #p-sm-know-more-pj-little-informations {
        display: flex;
        flex-direction: column;
        gap: 0px;
        align-items: center;
        font-size: 15px;
        margin-bottom: 10px;
    }
}

@media (max-width:1070px) {
    #criacao-pre-visualizar-sm {
        width: 360px;
    }
}

@media (max-width:1000px) {
    #criacao-pj-tipo-de-projeto {
        border: 1px solid #0b79e1;
        border-radius: 28px;
        font-size: 12px;
        padding: 4px;
        text-align: center;
    }

    #criacao-links-h2 {
        font-size: 20px;
    }

    .criacao-links-item-link {
        width: 200px;
        font-size: 12px;
    }

    .criacao-links-item-nome-link {
        font-weight: 500;
        font-size: 12px;
        width: 100px;
        text-align: center;
    }

    #criacao-links-legenda {
        text-align: center;
        width: 350px;
        margin: 10px 0;
        font-size: 14px;
    }

    #criacao-pj-progress {
        width: 300px;
        height: 40px;
    }

    #cpf-part-1,
    #cpf-part-2,
    #cpf-part-3 {
        border-radius: 5px;
        width: 60px;
        height: 35px;
        text-align: center;
        font-size: 20px;
    }

    .criacao-pjbox label {
        font-size: 14px;
    }

    .criacao-border {
        border: 1px solid var(--azul-clean);
        border-radius: 20px;
        margin: 20px 0;
        width: 350px;
    }

    #criacao-pix p {
        padding: 10px;
        font-size: 14px;
        width: 300px;
        text-align: center;
    }

    .volta-home {
        font-size: 12px;
        text-decoration: none;
        font-weight: 600;
        color: rgb(0, 0, 0);
        border: 1px solid black;
        padding: 2px 6px;
        border-radius: 10px;
        margin-top: 0px;
    }

    #criacao-pj-why,
    #criacao-pj-detalhamento,
    #criacao-pj-goal,
    #criacao-pj-donation,
    #criacao-pj-techniques,
    #criacao-pj-impacts {
        width: 350px;
        height: 120px;
        border-radius: 8px;
        padding: 2px;
        border: 1px solid #0b79e1;
        font-size: 12px;
        resize: none;
    }

    #criacao-saiba-mais h1 {
        margin: 15px 0 15px 0;
        font-size: 20px;
    }

    .criacao-links-item {
        padding: 10px;
        display: flex;
        justify-content: center;
        gap: 4px;
    }

    #criacao-saiba-mais-style {
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #criacao-saiba-mais-buttons {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 50px;
        gap: 20px;
    }

    #criacao-saiba-mais-voltar,
    #criacao-saiba-mais-finalizar {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: none;
        border-radius: 10px;
        padding: 10px 40px;
        font-size: 15px;
        background-color: var(--azul-clean);
        color: white;
    }

}



@media (max-width:800px) {






    #criacao-post-home {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100vh;
        margin-top: 400px;
    }

    .criacao-team-member-item p {
        font-size: 16px;
        font-weight: 500;
    }


    #criacao-tipo-pix,
    #criacao-projeto-pix-value {
        padding: 5px 0;
        width: 200px;
        font-size: 15px;
        margin-top: 10px;
    }

    #criacao-saiba-mais-previsualizar {
        color: var(--azul-clean);
        border: 2px solid var(--azul-clean);
        font-size: 20px;
        font-weight: 500;
        padding: 10px 20px;
        border-radius: 15px;
        background-color: white;
        margin: 40px 0 10px 0;
    }

    .criacao-saiba-mais-extra-img-item {
        max-width: 200px;
        object-fit: cover;
        padding: 10px;
        border: 1px solid var(--azul-clean);
        border-radius: 10px;
    }

    #h2-img-extra {
        font-size: 14px;
    }

    #criacao-links-adicionar-link {
        padding: 5px 20px;
        font-weight: 400;
        font-size: 15px;
        margin-top: 15px;
        border: none;
        border-radius: 5px;
        background-color: var(--azul-clean);
        color: white;

    }

    .criacao-parts-style {
        width: 350px;
        background-color: #ffffff;
        box-shadow: 5px 5px 25px rgb(233, 233, 233);
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
        border-radius: 28px;
    }

    #criacao-pj-name {
        padding: 5px 15px;
        border-radius: 28px;
        border: 1px solid #0b79e1;
        font-size: 10px;
        width: 120%;
        text-align: center;
        word-break: break-all;
    }

    #criacao-pj-quick-des {
        width: 300px;
        height: 100px;
        border-radius: 8px;
        padding: 15px;
        border: 1px solid #0b79e1;
        font-size: 10px;
        resize: none;
        overflow: auto;
        padding: 10px;
        box-sizing: border-box;
    }


    .criacao-file-linked {
        margin-top: 5px;
        background-color: #0b79e1;
        color: white;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        width: 130px;
        padding: 5px;
    }


    .criacao-file-linked strong {
        font-size: 10px;
    }

    #criacao-post-home h1 {
        font-size: 20px;
    }

    #criacao-pj-localization,
    #criacao-pj-field,
    #criacao-pj-college-school,
    #criacao-pj-status {
        border: 1px solid #0b79e1;
        border-radius: 28px;
        font-size: 10px;
        padding: 4px;
    }

    .criacao-file-name {
        margin-top: 5px;
        padding: 5px 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
        display: inline-block;
        width: 120px;
        text-align: center;
        box-sizing: border-box;
        font-size: 10px;
    }

    .criacao-previsu-posts-style {
        width: 350px;
        background-color: rgba(255, 255, 255, 0.959);
        padding: 18px;
        border-radius: 18px;
        margin-bottom: 50px;
    }

    .criacao-previsu-post-short-info-box {
        width: 100%;
        padding-left: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        word-break: break-all;
    }

    .criacao-previsu-short-info-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        word-break: break-all;
    }

    .criacao-previsu-some-info {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
        width: 100%;
        word-break: break-all;
    }

    .criacao-previsu-type-location-instituicao-status-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: -10px;
        flex-wrap: wrap;
    }

    .criacao-previsu-infos-style {
        font-size: 14px;
        height: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .criacao-previsu-project-img-box {
        margin: 0 auto 0 auto;
        width: 100%;
        object-fit: cover;
        height: 150px;
        border-radius: 18px;
    }

    #p-sm-know-more-progress h3 {
        font-size: 10px;
        margin-bottom: 5px;
        font-weight: 600;
    }

}